$textXS: 12px;
$textS: 14px;
$textM: 16px;
$textL: 20px;
$textXL: 24px;
$textXXL: 32px;

$color-white: #ffffff;
$color-dark-white: #fdfdff;
$color-black: #000000;
$color-light-black: #0b0e15;
$color-very-light-black: #13161c;
$color-blue: #6078ed;
$color-dark-violet: #6768ab;
$color-grey: #595959;
$color-light-grey: #929393;
$color-very-light-grey: #ebedf0;
$color-red: #f53c14;

$base-width: 1440px;
