@font-face {
  font-family: Jost;
  font-display: swap;
  src:
    url('../../shared/ui/assets/fonts/Jost-Thin.woff2') format('woff2'),
    url('../../shared/ui/assets/fonts/Jost-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src:
    url('../../shared/ui/assets/fonts/Jost-ExtraLight.woff2') format('woff2'),
    url('../../shared/ui/assets/fonts/Jost-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src:
    url('../../shared/ui/assets/fonts/Jost-Light.woff2') format('woff2'),
    url('../../shared/ui/assets/fonts/Jost-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src:
    url('../../shared/ui/assets/fonts/Jost-Regular.woff2') format('woff2'),
    url('../../shared/ui/assets/fonts/Jost-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src:
    url('../../shared/ui/assets/fonts/Jost-Medium.woff2') format('woff2'),
    url('../../shared/ui/assets/fonts/Jost-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src:
    url('../../shared/ui/assets/fonts/Jost-SemiBold.woff2') format('woff2'),
    url('../../shared/ui/assets/fonts/Jost-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src:
    url('../../shared/ui/assets/fonts/Jost-Bold.woff2') format('woff2'),
    url('../../shared/ui/assets/fonts/Jost-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src:
    url('../../shared/ui/assets/fonts/Jost-ExtraBold.woff2') format('woff2'),
    url('../../shared/ui/assets/fonts/Jost-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  font-display: swap;
  src:
    url('../../shared/ui/assets/fonts/Jost-Black.woff2') format('woff2'),
    url('../../shared/ui/assets/fonts/Jost-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
