@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.title {
  user-select: none;
  @include font-main($textL, $color-black, 700);
}

.titleDark {
  color: $color-white;
}

.score {
  user-select: none;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: $color-grey;
  @include font-main($textXS, $color-dark-white, 500);
}

.scoreBad {
  background-color: $color-red;
}

.scoreGood {
  background-color: $color-green;
}

.scoreNormal {
  background-color: $color-orange;
}
