@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.list {
  width: 1250px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid $color-grey;
  border-radius: 12px;
  position: absolute;
  top: 120px;
  left: 20px;
  list-style: none;
  overflow: hidden;
  background-color: $color-white;
  z-index: 10;
}

.listDark {
  background-color: $color-light-black;
}
