@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  vertical-align: bottom;
}

.plug {
  width: 100%;
  height: 260px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-main($textL, $color-black, 700);
  user-select: none;
}

.plugDark {
  color: $color-white;
}

.infoWrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $color-dark-white;
}

.infoWrapperDark {
  background-color: $color-very-light-black;
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bodyWrapper {
  margin-top: 20px;
  width: 100%;
  height: 98px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.link {
  text-decoration: none;
  @include hover;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  @include font-main($textL, $color-black, 700);
}

.titleDark {
  color: $color-white;
}

.footerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  margin: 0;
  @include font-main($textS, $color-grey, 500);
}

.descriptionDark {
  color: $color-white;
}

.buttonsWrapper {
  display: flex;
  gap: 6px;
}
