@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.button {
  padding: 0;
  border: none;
  @include font-main($textM, $color-blue, 400);
  background-color: transparent;
  cursor: pointer;
  @include hover;
}
