@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.logo {
  text-decoration: none;
  @include hover;
}

.title {
  margin: 0;
  @include font-main($textXXL, $color-black, 700);
}

.titleDark {
  color: $color-white;
}
